<html>

	<head>
		<title>Shopping App</title>
	</head>

	<body>
		<script type="text/javascript">
			window.datafile = '{{ datafile }}';
		</script>


		<div id="app"/>
		<script src="/scripts/bundle.js"/>
	</body>

</html>