body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.custom-container {
  padding: 50px;
}

a {
  color: #00B7FF;
}

.custom-container .card-img-top {
  height: 350px;
}

.custom-container .badge-warning {
  margin-bottom: 5px;
}

.custom-container .text-muted {
  font-size: 22px;
  font-weight: bold;
}

.custom-container .btn-success {
  float: right;
}
